@ViewData["VersionOS"]
<h3>Текущая информация об операционной системе</h3>
Version: @ViewData["Ver"]
<br />
Platform: @ViewData["OSPlatform"]
<br />
Version String: @ViewData["VerString"]
<br />
Major: @ViewData["VerMajor"]
<br />
 Minor: @ViewData["VerMinor"]
<br />
Service Pack: @ViewData["ServicePack"]
<br />